*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
### Example user template template
### Example user template

# IntelliJ project files
.idea

out
gen
